.card {
  align-items: center;
  border-radius: 16px;
  box-shadow: 0 0 0 transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 14px 16px;
  position: relative;
  transition: box-shadow 0.2s ease;
  width: 226px;

  &:hover {
    box-shadow: 0px 10px 29px -10px rgba(0, 0, 0, 0.75);
    cursor: pointer;
  }

  &:hover .background-image {
    display: block;
  }

  .background-image {
    bottom: -45px;
    display: none;
    padding-right: 1rem;
    position: absolute;
    right: -61px;
  }

  .id {
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    width: 100%;
  }

  .name {
    align-items: center;
    color: #1d1d1d;
    display: flex;
    font-size: 22px;
    font-style: normal;
    font-weight: 800;
    justify-content: space-between;
    line-height: 18px;
    letter-spacing: 1px;
    position: relative;
    text-align: left;
    width: 100%;

    img {
      width: 26px;
      position: absolute;
      right: 0;
    }
  }
}
