.app-bar {
  align-items: center;
  background-color: #dc0a2d;
  color: #fff;
  display: grid;
  grid-template-columns: auto 1fr;
  justify-items: flex-start;
  padding: 10px 10px 10px 0.5rem;

  .title {
    font-size: 32px;
    padding: 10px 10px 10px 1rem;
  }
}
